h1
{
  color:red;
  background-color:yellow;
  border:15px solid #898ab7;
}
h2
{
  color:#4ef9f1;
  background:#f78227;
  border:13px solid #e6fd56;

}
li{
  color:#040e5e;
  background-color: #49f7ef;
  border:solid #f75149;
}
body{
  background:url(ocean.jfif);
background-repeat: no-repeat;


  color:blue;
}
p{
  background-color:rgba(255, 150, 100,0.6);
  color:red;
  border:12px solid #e333e4;
}


div{
  color:red;
  background-color:#94e433;


  border: 10px solid #5833e4;


}
