body{
  background: url(https://images3.alphacoders.com/115/115387.jpg);
  background-size: cover;

}
h1
{
  color: blue;
  background-color: pink;
}
.vinay{
  background: yellow;
  text-align: center;
  color:red;
}
#v1{
  color:blue;
}
